<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService_ValidateDOJSoap" />
        <binding name="WebService_ValidateDOBSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61695/WebService_ValidateDOJ.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService_ValidateDOJSoap"
        contract="ServiceReference1_ValidateDOJ.WebService_ValidateDOJSoap"
        name="WebService_ValidateDOJSoap" />
      <endpoint address="http://localhost:61695/WebService_ValidateDOB.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService_ValidateDOBSoap"
        contract="ServiceReference2_ValidateDOB.WebService_ValidateDOBSoap"
        name="WebService_ValidateDOBSoap" />
    </client>
  </system.serviceModel>
</configuration>